.wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	&[aria-hidden="true"]{
		opacity: 0;
	}
}

	.container {
		position: relative;
		top: 47vh;
		padding: 0 var(--padding_container) 0 var(--padding_container);
		font-size: 1.25rem;
		--padding_container: 10vw;
	}

		.name, .nickName, .actorName {
			line-height: 1;
		}

		.name {
			margin-bottom: 0.4em;
			font-size: 5em;
			font-family: var(--font_family__heading);
		}

		.nickName {
			margin-bottom: 1.35em;
			font-size: 2.6em;
			font-family: var(--font_family__heading);
		}

		.actorName {
			margin-bottom: 1.7em;
			font-size: 1em;
			font-family: var(--font_family__body);
			text-transform: uppercase;
		}

		.bio {
			margin-bottom: 2.4em;
			font-size: 1em;
			line-height: 1.5;
			font-family: var(--font_family__body);
		}

		.hero {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: crimson;
		}

		.buttons {
			font-size: 1.1em;
			font-family: var(--font_family__heading);
		}

			.button {
				display: flex;
				position: absolute;
				align-items: center;
				text-decoration: none;
				--button_margin: 1.2em;
			}

			.previous {
				left: var(--padding_container);

				&:before {
					display: inline-block;
					content: "";
					width: 1.36em;
					height: 2em;
					margin-right: var(--button_margin);
					background-color: lime;
				}
			}

			.next {
				right: var(--padding_container);

				&:after {
					display: inline-block;
					content: "";
					width: 1.36em;
					height: 2em;
					margin-left: var(--button_margin);
					background-color: lime;
				}
			}

// Mobile portrait


// Mobile landscape
@media (orientation: landscape) {

}

// Tablet portrait
@media (min-width: 768px) {

}

// Tablet landscape
@media (min-width: 768px) and (orientation: landscape) {
	
}

// Desktop portrait
@media (min-width: 1200px) and (max-aspect-ratio: 8/9) {

}

// Desktop landscape
@media (min-width: 1200px) {

}

	