// Mobile portrait
.wrapper {
	display: flex;
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	padding: 10%; 		//GUESS
	flex-direction: column;

	&[aria-hidden="true"]{
		opacity: 0;
		pointer-events: none
	}
}

	.container {
		position: relative;
		z-index: 1;
	}

		.content {
			position: relative;
			margin-top: 40vh;
		}
	
			.name {
				margin-bottom: 0.1em; //REVIEW MEASUREMENTS
				font-size: 5em;
				font-family: var(--font_family__heading);
			}

			.nickname {
				margin-bottom: 0.5em; //REVIEW MEASUREMENTS
				font-size: 2.6em;
				font-family: var(--font_family__heading);
			}

			.actor {
				margin-bottom: 1em; //REVIEW MEASUREMENTS
				font-size: 1em;
				font-family: var(--font_family__body);
				font-weight: normal;
				letter-spacing: 0.25em;
				text-transform: uppercase;
			}

			.body {
				margin-bottom: 8em; //REVIEW MEASUREMENTS
				font-size: 1em;
				line-height: 1.5;
				font-family: var(--font_family__body);
			}

			.content::after {
				content: "";
				display: block;
				position: fixed;
				width: 100%;
				height: 12em;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(
				    rgba(237, 20, 61, 0) 0%,
				    rgba(237, 20, 61, 1) 50%,
				    rgba(237, 20, 61, 1) 100%	
				);
			}

		.controls {
			display: flex;
			position: sticky;
			width: 100%;
			max-width: 25rem; // GUESS
			bottom: 10vw; // GUESS!
			justify-content: space-between;
			font-size: 1.1em;
			font-family: var(--font_family__heading);
		}

			.button {
				display: flex;
				align-items: center;
				text-decoration: none;
				--button_margin: 1em;

				&::before, 
				&::after {
					display: inline-block;
					font-size: 1.36em;
					width: 1em;
					height: 1.5em;
					background-color: lime;
				}

				&.previous {
					&::before {
						content: "";
						margin-right: var(--button_margin);
					}
				}

				&.next {
					&::after {
						content: "";
						margin-left: var(--button_margin);
					}
				}
			}

// Mobile landscape
@media (orientation: landscape) {

}

// Tablet portrait
@media (min-width: 768px) {

}

// Tablet landscape
@media (min-width: 768px) and (orientation: landscape) {

}

// Desktop portrait
@media (min-width: 1200px) and (max-aspect-ratio: 8/9) {

}

// Desktop landscape
@media (min-width: 1200px) {

	.container {
		width: 50%; 
	}

		.content {
			margin-top: 0;
		}
}
	