.history {
	position: fixed;
	width: 3em;
	height: 4em;	
	bottom: 3em;
	right: 3em;
	z-index: 5;
	font-size: 1rem;
	opacity: 0;
	background: center/contain no-repeat url("/assets/2d/static-elements/history-logo.png");
	transition: opacity 1s 0.8s, 
				transform 1s 0.8s, 
				filter 0.15s;

	&.active {
		opacity: 1;
		transform: translateY(0);
	}

	&.inactive {
		opacity: 0;
		transform: translateY(-20%);
	}

	&:hover, 
	&:focus {
		filter: brightness(1.25);

		.circle {
			outline: none;
			animation: encircle 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
		}
	}

	&:active .outline {
		opacity: 1;
	}
}
	.outline {
		opacity: 0.5;
		width: 200%;
		height: 200%;
		transform: translate(-25%, -10%);
	}

	.circle {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
	}

@keyframes encircle {
	to {
		stroke-dashoffset: 0;
	}
}
