.history {
	position: absolute;
	width: 3.75em;
	height: 4em;	
	bottom: 3.25em;
	right: 3.25em;
	z-index: 3;
	font-size: 1rem;
	opacity: 0;
	background: center/contain no-repeat url("/assets/2d/static-elements/history-logo.png");
	animation: fade-in-and-move 1s 0.5s forwards;

	&:hover .circle {
		animation: encircle 1s linear forwards;
	}
}

	.circle {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
	}

	svg {
		transform: scale(2);
		opacity: 0.5;
	}

@keyframes fade-in-and-move {
	0% {
		opacity: 0;
		transform: translateY(-20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes encircle {
	to {
		stroke-dashoffset: 0;
	}
}
