//Mobile portrait
.wrapper {
	position: fixed; 
	display: flex;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	font-size: 1.62rem;
	background-color: green;
	&[aria-hidden="true"]{
		// transition: opacity .3s, visibility 0s .4s;
	}
	&[aria-hidden="false"]{
		transition: opacity .3s;
	}

}

	.container {
		position: absolute;
		bottom: 5%;
		z-index: 3;
	}

		.fade {
			opacity: 0.2;
		}

		.visible {
			opacity: 1;
		}

		.episode,
		.title,
		.controls,
		.close {
			transition: opacity 0.3s;
		}

		.episode,
		.title {
			font-family: var(--font_family__heading);
			text-shadow: 1px 1px 3px black;
		}

		.episode {
			font-size: 1em;
		}

		.title {
			margin-top: 0.25em;
			font-size: 1.5em;
		}

		.play, 
		.pause {
			position: fixed;
			top: 50%;
			left: 50%;
			z-index: 2;
			transform: translate(-50%, -50%);
			cursor: pointer;
			transition: opacity 0.15s;

			&:hover {
				filter: brightness(1.3);
			}
		}

		.play {
			font-size: 10rem;
			width: 1em;
			height: 1em;
			background: no-repeat url("assets/2d/controls/play.svg");
		}

		.pause {
			font-size: 5rem;
			width: 1em;
			height: 1em;
			background: no-repeat url("assets/2d/controls/pause.svg");
		}

		.controls {
			display: flex;
			width: 9em;
			margin-top: 1em;
			margin-left: auto;
			margin-right: auto;
			flex-direction: row;
			justify-content: space-between;
		}

			.button {
				display: flex;
				align-items: center;
				transition: transform 0.15s,
							outline 0.15s;

				&::before, 
				&::after {
					display: inline-block;
					width: 1em;
					height: 1.38em;
					font-size: 0.8em;
					background-image: url("/assets/2d/arrows/arrow.svg");
					background-size: cover;
				}

				&.prev::before,
				&.next::after {
					content: "";
				}

				.prev, .next {
					&:focus {
						outline: none;
					}
				}

				.prevLabel, .nextLabel {
					transition: transform 0.3s;
				}

				&.prev {
					margin-left: 0;
					margin-right: auto;

					&:hover,
					&:focus {
						.prevLabel {
							transform: translateX(-0.25em);
						}
					}			

					&:active {
						.prevLabel {
							transform: scale(0.9) translateX(-0.25em);
						}
					}

					&::before {
						margin-right: 1em;
					}
				}

				&.next {
					margin-left: auto;
					margin-right: 0;

					&:hover,
					&:focus {
						.nextLabel {
							transform: translateX(0.25em);
						}
					}			

					&:active {
						.nextLabel {
							transform: scale(0.9) translateX(0.25em);
						}
					}

					&::after {
						margin-left: 1em;
						transform: scaleX(-1);
					}
				}
			}

		.close {
			position: fixed;
			width: 1.62em;
			height: 1.62em;
			top: 1em;
			left: 50%;
			font-size: 1em;
			transform: translateX(-50%);

			&:hover {
				filter: brightness(1.3);
			}
		}

			.label {
				display: none;
			}

			.icon {
				position: relative;
				height: 100%;
				width: 100%;
			}

				.bar {						
					width: 100%;
					height: 5px;	//placeholder
					position: absolute;
					top: 50%;
					left: 50%;
					background-color: var(--font_color);	

					&.bar1 {
	  					transform: translate(-50%, -50%) rotate(-45deg);
				 	}

				 	&.bar2 {
	  					transform: translate(-50%, -50%) rotate(45deg);
				 	}				
				}

	.contrastOverlay {
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(2,2,2,0.25);
		z-index: 2;
	}

	.video {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
		object-fit: cover;
	}

// Mobile landscape
@media (orientation: landscape) {
	.play {
		font-size: 6.5rem;
	}

	.pause {
		font-size: 3.5rem;
	}
}

// Tablet 
@media (min-width: 768px) {
	.close {
		top: 1.62em;
	}

	.play {
		font-size: 12.5rem;
	}

	.pause {
		font-size: 7.5rem;
	}
}

// Desktop
@media (min-width: 1025px) {
	.controls {
		width: 11em;
	}

	.title {
		font-size: 2em;
	}
}
