//Mobile portrait
.wrapper {
	position: fixed; 
	display: flex;
	height: 100%;
	width: 100%;
	padding-bottom: 4em;
	top: 0;
	left: 0;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	font-size: 1.62rem;
	background-color: green;
}

	.container {
		z-index: 2;
	}

		.episode {
			font-size: 1em;
		}

		.title {
			font-size: 1.5em;
		}

		.controls {
			display: flex;
			width: 9em;
			margin-top: 1em;
			flex-direction: row;
			justify-content: space-between;
		}

			.button {
				display: flex;
				align-items: center;

				&::before, 
				&::after {
					display: inline-block;
					width: 1em;
					height: 1.38em;
					font-size: 0.8em;
					background-color: lime;
				}

				&.prev::before,
				&.next::after {
					content: "";
				}

				&.prev {
					margin-left: 0;
					margin-right: auto;

					&::before {
						margin-right: 1em;
					}
				}

				&.next {
					margin-left: auto;
					margin-right: 0;

					&::after {
						margin-left: 1em;
					}
				}
			}
			

		.close {
			position: fixed;
			width: 1.62em;
			height: 1.62em;
			top: 2.62em;
			left: 50%;
			font-size: 1em;
			transform: translateX(-50%);
		}

			.label {
				display: none;
			}

			.icon {
				position: relative;
				height: 100%;
				width: 100%;
			}

				.bar {						
					width: 100%;
					height: 5px;	//placeholder
					position: absolute;
					top: 50%;
					left: 50%;
					background-color: black;	

					&.bar1 {
	  					transform: translate(-50%, -50%) rotate(-45deg);
				 	}

				 	&.bar2 {
	  					transform: translate(-50%, -50%) rotate(45deg);
				 	}				
				}

	.video {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

//Mobile Landscape
@media (orientation: landscape) {
	.wrapper {
		padding-bottom: 1em;
	}

		.close {
			top: 1.62em;
		}
}

//Tablet landscape
@media (min-width: 768px) and (orientation: landscape) {
	.wrapper {
		padding-bottom: 3em;
	}

		.close {
			top: 2.62em;
		}
}

//Desktop fullscreen
@media (min-width: 1200px) {
	.container {
		top: 80%;
	}
}
