$scale_duration: 2.97s;
$fade_duration: 0.75s;
$animation_delay: 0s; //originally 1s but was very slow start

// Mobile Portrait
.wrapper {
	display: flex;
	position: absolute;
	left: 50%;
	top: 50%;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
	animation-name: blur-in;
	animation-duration: 2.85s, 1s, 1.7s;
	animation-delay: 0s, 0s, 1.1s;
	animation-iteration-count: 3;
}
	
	.logo {
		position: absolute;
		font-size: 75vw;
		width: 1em;
		height: 1.4em;
		opacity: 0;
		-webkit-mask-size: contain;
		-moz-mask-size: contain;
		mask-size: contain;
	}

		/* V LOGO BONES */

		.big-bone {
			animation: 	scale-in $scale_duration $animation_delay+1.15s forwards,
						fade-in $fade_duration $animation_delay+1.6s forwards;
		}

		.rib-1 {
			animation: 	scale-in $scale_duration $animation_delay+0.48s forwards,
						fade-in $fade_duration $animation_delay+0.93s forwards;
		}

		.rib-2 {
			animation: 	scale-in $scale_duration $animation_delay+0.73s forwards,
						fade-in $fade_duration $animation_delay+1.18s forwards;
		}

		.rib-3 {
			animation: 	scale-in $scale_duration $animation_delay+0.92s forwards,
						fade-in $fade_duration $animation_delay+1.37s forwards;
		}

		.x-1 {
			animation: 	scale-in $scale_duration $animation_delay+0.97s forwards,
						fade-in $fade_duration $animation_delay+1.42s forwards;
		}

		.x-2 {
			animation: 	scale-in $scale_duration $animation_delay+1.2s forwards,
						fade-in $fade_duration $animation_delay+1.65s forwards;
		}

		.shape-1 {
			animation: 	scale-in $scale_duration $animation_delay+1.07s forwards,
						fade-in $fade_duration $animation_delay+1.52s forwards;
		}

		.shape-2 {
			animation: 	scale-in $scale_duration $animation_delay+1.40s forwards,
						fade-in $fade_duration $animation_delay+1.85s forwards;
		}

		.shape-3 {
			animation: 	scale-in $scale_duration $animation_delay+1.68s forwards,
						fade-in $fade_duration $animation_delay+2.13s forwards;
		}

		.shape-4 {
			animation: 	scale-in $scale_duration $animation_delay+0.12s forwards,
						fade-in $fade_duration $animation_delay+0.57s forwards;
		}

		.dot-1 {
			animation: 	scale-in $scale_duration $animation_delay+1.65s forwards,
						fade-in $fade_duration $animation_delay+2.1s forwards;
		}

		.dot-2 {
			animation: 	scale-in $scale_duration $animation_delay+1.1s forwards,
						fade-in $fade_duration $animation_delay+1.55s forwards;
		}

		.teeth {
			animation: 	scale-in $scale_duration $animation_delay+0.87s forwards,
						fade-in $fade_duration $animation_delay+1.32s forwards;
		}

		.v-bone {
			animation: 	scale-in $scale_duration $animation_delay+0.42s forwards,
						fade-in $fade_duration $animation_delay+0.87s forwards;
		}

// Mobile landscape
@media (orientation: landscape) {
	.logo {
		font-size: 35vw;
	}
}

// Tablet portrait
@media (min-width: 768px) {
	.logo {
		font-size: 50vw;
	}
}

// Tablet Landscape
@media (min-width: 768px) and (orientation: landscape) {
	.logo {
		font-size: 40vw;
	}
}

// Desktop portrait
@media (min-width: 1200px) and (max-aspect-ratio: 8/9){
	.logo {
		font-size: 25vw;
	}
}

// Desktop landscape
@media (min-width: 1200px){
	.logo {
		font-size: 25vw;
	}
}

/* ANIMATIONS */

@keyframes scale-in {
	0% {
		transform: scale(0.79);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blur-in {
	0% {
		filter: blur(0px)
	}
	50% {
		filter: blur(5px);
	}
	100% {
		filter: blur(0px)
	}
}