$scale_duration: 2.97s;
$fade_duration: 0.75s;

// Mobile Portrait
.wrapper {
	display: flex;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
}
	
	.logo {
		position: absolute;
		font-size: 75vw;
		width: 1em;
		height: 1.4em;
		opacity: 0;
		-webkit-mask-size: contain;
		-moz-mask-size: contain;
		mask-size: contain;
	}

		/* V LOGO BONES */
		//2.97 and 0.75 are consistent durations

		.big-bone {
			animation: 	scale-in $scale_duration 2.15s forwards,
						fade-in $fade_duration 2.6s forwards;
		}

		.rib-1 {
			animation: 	scale-in $scale_duration 1.48s forwards,
						fade-in $fade_duration 1.93s forwards;
		}

		.rib-2 {
			animation: 	scale-in $scale_duration 1.73s forwards,
						fade-in $fade_duration 2.18s forwards;
		}

		.rib-3 {
			animation: 	scale-in $scale_duration 1.92s forwards,
						fade-in $fade_duration 2.37s forwards;
		}

		.x-1 {
			animation: 	scale-in $scale_duration 1.97s forwards,
						fade-in $fade_duration 2.42s forwards;
		}

		.x-2 {
			animation: 	scale-in $scale_duration 2.2s forwards,
						fade-in $fade_duration 2.65s forwards;
		}

		.shape-1 {
			animation: 	scale-in $scale_duration 2.07s forwards,
						fade-in $fade_duration 2.52s forwards;
		}

		.shape-2 {
			animation: 	scale-in $scale_duration 2.40s forwards,
						fade-in $fade_duration 2.85s forwards;
		}

		.shape-3 {
			animation: 	scale-in $scale_duration 2.68s forwards,
						fade-in $fade_duration 3.13s forwards;
		}

		.shape-4 {
			animation: 	scale-in $scale_duration 1.12s forwards,
						fade-in $fade_duration 1.57s forwards;
		}

		.dot-1 {
			animation: 	scale-in $scale_duration 2.65s forwards,
						fade-in $fade_duration 3.1s forwards;
		}

		.dot-2 {
			animation: 	scale-in $scale_duration 2.1s forwards,
						fade-in $fade_duration 2.55s forwards;
		}

		.teeth {
			animation: 	scale-in $scale_duration 1.87s forwards,
						fade-in $fade_duration 2.32s forwards;
		}

		.v-bone {
			animation: 	scale-in $scale_duration 1.42s forwards,
						fade-in $fade_duration 1.87s forwards;
		}

// Mobile landscape
@media (orientation: landscape) {
	.logo {
		font-size: 35vw;
	}
}

// Tablet portrait
@media (min-width: 768px) {
	.logo {
		font-size: 50vw;
	}
}

// Tablet Landscape
@media (min-width: 768px) and (orientation: landscape) {
	.logo {
		font-size: 40vw;
	}
}

// Desktop portrait
@media (min-width: 1200px) and (max-aspect-ratio: 8/9){
	.logo {
		font-size: 25vw;
	}
}

// Desktop landscape
@media (min-width: 1200px){
	.logo {
		font-size: 25vw;
	}
}

/* ANIMATIONS */

@keyframes scale-in {
	0% {
		transform: scale(0.79);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
