$border__color: #4e4e4e;

// Mobile portrait
.watch {
	display: flex;
	position: absolute;
	width: 11em;
	height: 3.45em;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
	align-items: center;
	justify-content: center;
	font-size: 1.125em;
	font-family: var(--font_family__body);
	background-color: transparent;
	opacity: 0;
	border: solid transparent;
	animation:  fade-in-and-move 1s 0.5s forwards,
				border-color 1s 0.5s forwards linear;
} 

// Tablet up
@media (min-width: 768px) {
	.watch {
		bottom: 2.88em;
		left: 2.88em;
		transform: translateX(0);
	}
}

@keyframes fade-in-and-move {
	0% {
		opacity: 0;
		transform: translateY(-20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes border-color {
	0% {
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	25% {
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: $border__color;
	}
	50% {
		
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: $border__color;
		border-left-color: $border__color;
	}
	75% {
		border-top-color: transparent;
		border-right-color: $border__color;
		border-bottom-color: $border__color;
		border-left-color: $border__color;
	}
	100% {
		border-top-color: $border__color;
		border-right-color: $border__color;
		border-bottom-color: $border__color;
		border-left-color: $border__color;
	}
}