.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-image: url(assets/2d/landing/bg-1440.jpg); //placeholder we wait for video asset
}

	video {
		position: absolute;
		width: 100%;
		height: 100%;		
	}

		.first {
			opacity: 11%;
		}

		.second {
			opacity: 1%;
		}
