.wrapper {
	position: fixed; //with absolute it will scroll with page
	width: 80%;
	right: 50%;
	bottom: 5%;
	transform: translateX(50%);
}

	.container {
		display: flex;
		position: relative;
		z-index: 1;
		justify-content: space-between;
		align-items: center;
	}

		.button {
			font-size: 1.75rem;
			width: 1em;	
			height: 1.42em;
		}

		.prev {
			order: 1;
		}

		.next {
			order: 3;
		}

		.pagination {
			order: 2;
			display: flex;
			width: 40%;
			height: 1.5em;
			align-items: center;
			list-style: none;
		}

			.item {
				display: flex;
				position: absolute;
				height: 100%;
				left: 50%;
				align-items: center; 

				&.inactive {
					font-size: 1.15em;
					font-weight: normal;
					pointer-events: none; //prevents overlap with prev/next
				}

				&.active {
					font-size: 1.5em;
					font-weight: bold;
					pointer-events: all;
				}

				.paginationLink {
					text-decoration: none;
				}
			} 

				
	
//Mobile landscape
@media (orientation: landscape) {
	.wrapper {
		width: 33%;
	}
}

//Tablet portrait
@media (min-width: 768px) {
	.wrapper {
		width: 50%;
	}

		.button {
			font-size: 2rem;
		}

		.inactive {
			font-size: 1.62em;
		}

		.active {
			font-size: 2.62em;

		}
}

//Tablet landscape 
@media (min-width: 768px) and (orientation: landscape) {
	.wrapper {
		width: 33%;
	}
}

//Desktop half screen
@media (min-width: 1200px) {
	.wrapper {
		position: fixed;
		width: 2em;
		height: 8em;
		right: 15%;
		bottom: 25%;
	}

		.container {
			flex-direction: column;
			width: 100%;
			height: 100%;
		}

			.button {
				transform: rotateZ(90deg);
			}

		.pagination {
			flex-direction: column;
			position: absolute;
			left: 7em;
			bottom: 20vh;
		}

			.item {
				height: 1em;
			}
}

//Desktop fullscreen
@media (min-width: 1200px) and (min-aspect-ratio: 16/9) {
	.wrapper {
		right: 10%;
	}
}