.wrapper {
	position: sticky;
	bottom: 0; //placeholder
}

	.container {
		display: flex;
		padding: 0 10%; 
		justify-content: space-between;
	}

	.button {
		font-size: 1.75rem;
		width: 1em;	
		height: 1.42em;

		&[aria-hidden="true"] {
			pointer-events: none; //disable and hide hidden
			opacity: 0;
		}
	}
	
	.paginationLink {
		font-size: 1em; //placeholder to have the classname showing in inspector
	}
