// Mobile Portrait
.wrapper {
	width: 80%;
	height: 2rem;
	position: fixed;
	right: 50%;
	bottom: 5%;
	z-index: 3;
	transform: translateX(50%);
	transition: opacity 1s 2s;

	&.invisible {
		opacity: 0;
	}

	&.visible {
		opacity: 1;
	}
}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		position: relative;
		z-index: 1;
	}

		.button {
			width: 2em;
			height: 100%;
			z-index: 2;
			font-size: 1em;
			cursor: pointer;
			background-color: transparent;
			transform: translateX(0);
			transition: transform 0.15s;

			.icon {
				width: 1em;	
				height: 100%;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				background: url("assets/2d/arrows/arrow.svg") no-repeat;
				background-size: 125% 100%;
			}
		}

		.prev, .next {			
			&:focus {
				outline: solid white 1px;
				outline-offset: 2px;
			}			
		}

		.prev {
			order: 1;
			
			&:hover {
				transform: translateX(-0.25em);
			}

			&:active {
				transform: scale(0.9) translateX(-0.25em);
			}
		}

		.next {
			order: 3;
			transform: scaleX(-1);
		
			&:hover {
				transform: scaleX(-1) translateX(-0.25em);
			}

			&:active {
				transform: scaleX(-0.9) translateX(-0.25em);
			}
		}

		.pagination {
			order: 2;
			display: flex;
			align-items: center;
			width: 40%;
			height: 1.5em;
			z-index: 1;
			list-style: none;
		}

			.item {
				display: flex;
				align-items: center; 
				height: 100%;
				position: absolute;
				left: 50%;
				transition: transform 0.15s, opacity 0.5s;

				&.inactive {
					font-size: 1.15em;
					font-weight: normal;

					&[aria-hidden="false"]:hover {
						//using important here to override inline styling in renderUtils
						opacity: 1 !important;
					}
				}

				&.active {
					font-size: 1.5em;
					font-weight: bold;
					pointer-events: none;
				}

				.paginationLink {
					font-family: var(--font_family__heading);
					font-style: normal;
					text-decoration: none;

					&:focus {
						outline: solid white 1px;
						outline-offset: 2px;
					}

					&:focus:not(:active) {
						text-decoration: underline;
					}
				}
			} 

				
	
//Mobile landscape
@media (orientation: landscape) {
	.wrapper {
		width: 40%;
		right: 25%;
    	bottom: 8%;
	}
}

//Tablet portrait
@media (min-width: 768px) {
	.wrapper {
		width: 33%;
		bottom: 3.25em;
		right: 50%;
	}

		.button {
			font-size: 1.25em;
		}

		.inactive {
			font-size: 1.62em;
		}

		.active {
			font-size: 2.62em;

		}
}

//Tablet landscape 
@media (min-width: 768px) and (orientation: landscape) {
	.wrapper {
		width: 33%;
	}

		.button {
			font-size: 1.15em;
		}
}

//Desktop half screen
@media (min-width: 1025px) {
	.wrapper {
		position: fixed;
		width: 2em;
		height: 8em;
		right: 12em;
		bottom: 25%;
	}

		.container {
			flex-direction: column;
			width: 100%;
			height: 100%;
		}

			.prev {
				transform: rotateZ(90deg) translateY(0);

				&:hover,
				&:focus {
					transform: rotateZ(90deg) translateX(-0.25em); 	
				}

				&:active {
					transform: scale(0.9) rotateZ(90deg) translateX(-0.25em); 	
				}
			}

			.next {
				transform: rotateZ(-90deg) translateY(0);

				&:hover,
				&:focus  {
					transform: rotateZ(-90deg) translateX(-0.25em);
				}

				&:active {
					transform: scale(0.9) rotateZ(-90deg) translateX(-0.25em);
				}
			}

		.pagination {
			flex-direction: column;
			position: absolute;
			bottom: 20vh;
			left: 7em;
		}

			.item {
				height: 1em;
			}
}

//Desktop fullscreen
@media (min-width: 1025px) and (min-aspect-ratio: 16/9) {

	.item {
		left: auto;
	}
}
