// Mobile portrait
.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: blue;

	.hero {
		width: 100%;
		height: 38%;
	}

	.textContainer {
		width: 100%;
		height: 62%;
		--padding__body: 10vw;
		padding-top: var(--padding__body);
		padding-right: var(--padding__body);
		padding-bottom: 0;
		padding-left: var(--padding__body);
		overflow-y: auto;
		background-color: pink;

		.heading {
			margin-bottom: 1rem;
			font-size: 1.15rem;
		}

		.subheading {
			margin-bottom: 1.5rem;
			font-size: calc(1.15rem * 1.62);
			line-height: 1.5em;

			&:before, &:after {
				content: '"';
			}
		}
		
		.body {
			margin-bottom: var(--padding__body);
			line-height: 1.5em;
			background-color: green;

			p + p {
				margin-top: 1em;
			}
		}
	}
}

// Mobile landscape
@media (orientation: landscape) {
	.wrapper {
		flex-direction: row;

		.hero {
			width: 50%;
			height: 100%;
		}

		.textContainer {
			width: 50%;
			height: 100%;
			--padding__body: 5vw;
			padding-top: var(--padding__body);
			padding-right: var(--padding__body);
			padding-bottom: 0;
			padding-left: var(--padding__body);
			overflow-y: auto;

			.heading {
				margin-bottom: 0.5rem;
				font-size: calc(1rem * 0.62);
			}

			.subheading {
				margin-bottom: 1rem;
				font-size: 1rem;
			}

			.body {
				margin-bottom: 1rem;
				font-size: 0.5rem;
			}
		}
	}
}

// Tablet portrait
@media (min-width: 768px) {

}

// Tablet landscape
@media (min-width: 768px) and (orientation: landscape) {

}

// Desktop landscape
@media (min-width: 1200px) {
	.wrapper {
		flex-direction: row;

			.hero {
				width: 50%;
				height: 100%;
			}

			.textContainer {
				width: 50%;
				height: 100%;
				padding-top: 20vh;
				overflow-y: hidden;

				.subheading {
					font-size: calc(1.15rem * 1.62);
				}

				.body {
					height: 53vh;
					overflow-y: auto;
					font-size: 1rem;
				}
			}
	}
}

// Desktop portrait
@media (min-width: 1200px) and (max-aspect-ratio: 8/9) {

}

