@import "SHARED/fonts.scss";

.heading {
	font-size: 1.15rem;
}

.subheading {
	font-size: calc(1.15rem * 1.62)
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: blue;
}

.textContent {
	background-color: pink;
}

.bodyContent {
	background-color: green;
}