// Mobile portrait
.hero {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 0;
}

	.gold {
		font-size: 75vw;
		z-index: 4;
	}

	.blue {
		font-size: 100vw;
		z-index: 3;
	}

	.glow {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 0;
		left: 50%;
		font-size: 100vw;

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			opacity: 40%;
			transform: translate(-50%, -50%);
			border-radius: 100%;
		}

		&.gold::before {
			background-color: #d2beaf;
			opacity: 1;
			filter: blur(0.2em);
		}

		&.blue::before {
			background-color: #091d28;
			opacity: 1;
			filter: blur(1em);
		}
	}

	.image {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 2;
		object-fit: contain;
		object-position: right;
		filter: blur(0.5em);
		opacity: 0;
		transform: scale(1.5);
		animation:  blur-fade-scale-in 1.5s ease-in-out forwards;

		img {
			-webkit-mask-size: contain;
			-moz-mask-size: contain;
			mask-size: contain;
			-webkit-mask-position: right;
			-moz-mask-positon: right;
			mask-position: right;
		}
	}

// Mobile landscape
@media (orientation: landscape) {
	.hero {
		width: 75%; // GUESS
		left: 0;
	}

		.glow {
			font-size: 50vw; // GUESS

			&::before {
				transform: translate(-25%, -66%); // GUESS
			}
		}
}

// Tablet portrait
@media (min-width: 768px) {
	.hero {
		left: auto;
		right: 0;
	}
}

@keyframes blur-fade-scale-in {
	to {
		filter: blur(0);
		opacity: 1;
		transform: scale(1);
	}
}
