// Mobile portrait
.wrapper {
	width: 100%;
	height: 100%;
	background-color: red;
}

	.itemContainer {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 4rem;
		font-family: var(--font_family__heading);
		list-style: none;
	}

		.item {
			line-height: 0.7em;

			&+.item {
				margin-top: 0.7em
			}

			.link {
				text-decoration: none;
			}
		}
	
// Mobile landscape
@media (orientation: landscape) {
	.itemContainer {
		font-size: 3rem;
	}
}

// Tablet portrait
@media (min-width: 768px) {
	.itemContainer {
		font-size: 5rem;
	}
}

// Tablet landscape
@media (min-width: 768px) and (orientation: landscape) {

}

// Desktop portrait
@media (min-width: 1200px) and (max-aspect-ratio: 8/9) {

}

// Desktop landscape
@media (min-width: 1200px) {

}



