// Mobile portrait
.wrapper {
	width: 100%;
	height: 100%;
	font-size: 2rem;
	background-color: red;
}

	.button {
		display: flex;
		position: absolute;
		top: 0.85em;
		right: 0.75em;
		height: var(--button_height);
		align-items: center;
		font-size: 1em;
		text-transform: uppercase;
		--button_height: 1.15em;

		&:before {
			width: 1em;
			height: var(--button_height);
			content: "";
			background-color: blue;
		}
	}

		.label {
			width: 3.8em;
			margin-left: 0.75em;


			&[aria-hidden="true"]{
				opacity: 0;
			}
			&[aria-hidden="false"]{
				opacity: 1;
			}

			&:nth-child(1){
				position: absolute;
				right: 0;
			}
		}

	.menu {
		display: flex;
		padding-top: 20vh;
		flex-direction: column;
		align-items: center;
		list-style: none;
	}

		.link {
			font-size: 2.25em;

			a {
				text-decoration: none;
			}
		}
	
// Mobile landscape
@media (orientation: landscape) {
	.wrapper {
		font-size: 1.25rem;
		background-color: red;
	}

		.menu {
			padding-top: 15vh;
		}
}

// Tablet portrait
@media (min-width: 768px) {

}

// Tablet landscape
@media (min-width: 768px) and (orientation: landscape) {

}

// Desktop portrait
@media (min-width: 1200px) and (max-aspect-ratio: 8/9) {

}

// Desktop landscape
@media (min-width: 1200px) {
	.wrapper {
		font-size: 1.4rem;
	}

		.button {
			top: 1.875rem;
		}


		.menu {
			padding-top: 20vh;
		}

			.link {
				font-size: 5em;
			}
}



