//for font-families, see global.scss
h1, h2 { 
	font-weight: normal;
}

html {
	font-size: 3.5vw;
}

a {
	color: var(--font_color);
	text-decoration: none;
}

@media (orientation: landscape) {
	html {
		font-size: 2vw;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}
