:root {
	//FONTS
	--font_family__body: Lato, sans-serif;
	--font_family__heading: 'Bodoni 11', serif;
	--font_size__body: 1rem;
	--font_size__heading: calc(var(--font_size__body) * 1.15);
	--font_size__subheading: calc(var(--font_size__heading) * 1.62);
	
	//COLOURS
	--font_color: #cacbca;
	--background_color: #020201;
	--background_color__semi-trans: rgba(2, 2, 1, 0.5);
	--glow_color: #d2beaf;
}

:global(#app){
	height: 100%;
}

html, body {
	height: 100%;
	color: var(--font_color);
	background-color: var(--background_color);
}


