.characters {
	width: 100%;
	height: 100%;
	z-index: 0;
}

	.dust {
		opacity: 11%;
		z-index: 4;
		pointer-events: none;
	}

// Mobile landscape
@media (orientation: landscape) {
	.glow {
		background-size: 100% auto;
		left: -22.5%;
	}
}

// Tablet portrait
@media (min-width: 768px) {
	.glow {
		left: 0;
		width: 150%;
		background-size: contain;
	}
}

// Tablet landscape
@media (min-width: 768px) and (orientation: landscape) {
	
}

// Desktop
@media (min-width: 1025px) {
	.glow {
		top: 0;
	}
}
