// MOBILE
.wrapper {
	width: 100%;
	min-height: 100%;
	background-image: url("assets/2d/episodes/episode-bg-large.jpg");
	background-attachment: fixed;

	.list {
		height: 100%;
	}
}

// TABLET UP
@media (min-width: 768px) {
	.wrapper {
		width: 100%;
		height: 100%;
		background-attachment: none;
	}
}