// MOBILE
.wrapper {
	width: 100%;
	min-height: 100%;
	background-image: url("assets/2d/shared/bg-small.jpg");
	background-attachment: fixed;

	.list {
		height: 100%;
	}
}

// TABLET UP
@media (min-width: 768px) {
	.wrapper {
		height: 100%;
		background: url("assets/2d/shared/bg-medium.jpg");

	}
}

// DESKTOP
@media (min-width: 1200px) {
	.wrapper {
		background-image: url("assets/2d/shared/bg-large.jpg");
	}
}