//Mobile portrait
.wrapper {
	position: relative;
	width: 100%;
	z-index: 3;
	opacity: 0;
	animation: fade-in 2s ease-in-out forwards;
	--thumbnail_width: 100%;
	--thumbnail_height: 38vh;
}

	.thumbnail {
		display: flex;
		position: relative;
		width: var(--thumbnail_width);
		height: var(--thumbnail_height);

		.button { 
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			&:focus {
				outline-color: var(--font_color);
			}

			&:focus, 
			&:hover {
				filter: saturate(0.75);
			}

			.icon {
				transform: scale(1.00);
			}  

			&:hover .icon,
			&:focus .icon {
				transform: scale(1.05);
			}
		}
	
			.image { 
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
			}

			.icon {
				font-size: 68px;
			}
	}

	.ghost {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.05;
		pointer-events: none;
		background-color: #293354;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		--ghost_translate__distance: 100%;

		&.left {
			transform: translateX(calc(-1*var(--ghost_translate__distance)));			
			background-image: url("/assets/2d/episodes/1-large-bw.jpg");
		}

		&.top {
			transform: translateY(calc(-1*var(--ghost_translate__distance)));
			background-image: url("/assets/2d/episodes/10-large-bw.jpg");

			&.left {
				transform: translate(calc(-1*var(--ghost_translate__distance)), calc(-1*var(--ghost_translate__distance)));
				background-image: url("/assets/2d/episodes/18-large-bw.jpg");
			}
		}

		&.bottom {
			transform: translateY(var(--ghost_translate__distance));	
			background-image: url("/assets/2d/episodes/25-large-bw.jpg");

			&.left {
				transform: translate(calc(-1*var(--ghost_translate__distance)), var(--ghost_translate__distance));
				background-image: url("/assets/2d/episodes/7-large-bw.jpg");
			}
		}
	}

	.content {
		position: absolute; 
	}


//Mobile landscape
@media (orientation: landscape) {
	.wrapper {
		order: 2;
		position: fixed;
		left: 50%;
		width: 50%;
		padding-top: 10%;
		--thumbnail_height: 50vh;
	}
}

//Desktop fullscreen
@media (min-width: 1200px) {
	.wrapper {
		position: initial;
		padding-top: 0;
		width: 50%;
	}

		.ghost {
			--ghost_translate__distance: 115%;
		}
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}
