// Mobile first
.wrapper {
	display: flex;
	position: fixed;
	top: 2.5em;
	right: 2em;
	align-items: center;
	pointer-events: auto;
	background-color: transparent;
	letter-spacing: 0.25em;
	
	&[aria-checked="true"] {

		.bar:nth-child(1) {
			transform: rotateZ(45deg);
		}

		.bar:nth-child(2) {
			transform: rotateZ(-45deg);
		}
	}
}

	.container {
		display: inline-block;
		position: relative;
		font-family: var(--font_family__body);
		text-transform: uppercase;
		color: var(--font_color);

		&:hover .icon {
			transform: scale(1.05) translateX(-10%);
		}

		&:hover .label {
			transform: scale(1.05);
		}
	}

		.icon {
			display: inline-block;
			width: 1em;
			height: 1em;
			position: relative;
			margin-right: 0.5em;
			cursor: pointer;
			font-size: 1.5em;
			transition: transform 0.15s;
		}

			.bar {
				display: block;
				width: 100%;
				height: 3px;
				position: absolute;
				top: 50%;
				left: 0;
				background-color: var(--font_color);
				transition: transform 0.15s cubic-bezier(0.95, 0.05, 0.795, 0.035);
			}

			.bar:nth-child(1) {
				transform: translateY(-0.25em);
			}

			.bar:nth-child(2) {
				transform: translateY(0.25em);
			}


		.label {
			cursor: pointer;
			font-size: 0;
			transition: all 0.15s linear;

			&.open, &.close {
				font-size: 1.5rem;
			}

			&[aria-hidden="true"]{
				opacity: 0;
			}

			&[aria-hidden="false"]{
				opacity: 1;
			}

			&.open {
				position: absolute;
				top: 0;
				right: 0;
			}

			&.close {
				position: relative;
			}
		}

// Mobile landscape
@media (orientation: landscape) {
	&.open, &.close {
		font-size: 1rem;
	}
}

// Tablet portrait
@media (min-width: 768px) {
	.wrapper {
		top: 3.5em;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
	}

		&.open, &.close {
			font-size: 2rem;
		}
}

// Tablet landscape
@media (min-width: 768px) and (orientation: landscape) {
	&.open, &.close {
		font-size: 1.5rem;
	}
}

// Desktop
@media (min-width: 1200px) {
	.wrapper {
		top: 3em;
	}
}
