// Mobile portrait
.home {
	position: absolute;
	width: 4em;
	height: 5.4em;
	top: var(--home-spacing);
	left: var(--home-spacing);
	z-index: 5;
	font-size: 1rem;
	background-color: red;
	--home-spacing: 3em;
	background: center/contain no-repeat url("/assets/2d/static-elements/viking-home.png");
}

// Desktop 
@media (min-width: 1200px) {
	.home {
		--home-spacing: 3.75em;
	}
}
