.container {
	width: 100%;
}

	.thumbnail {
		width: 100%;
		height: 38vh;
		background-color: blue;
	}

	.wrapper {
		position: absolute; //placeholder

		&[aria-hidden="true"]{
			opacity: 0;
		}
	}